site/

*~
*.elc
*.env
.env
places
.recentf
cider-history
history
projectile-bookmarks.eld
projectile.cache
auto-save-list/*
backups/*
.emacs.desktop*
.mc-lists.el
.recentf~
.session
elpa
elpa*
var
tramp
ac-comphist.dat
SessionDesktop.el
ido.last
.bookmarks.el
eshell/
url/
.org-id-locations
/vimish-fold/
.smex-items
network-security.data
bookmarks
org-clock-save.el
lsp-cache
.cache
.lsp-session-v1
transient
quelpa
elpy
abbrev_defs
