.smex-items
*~$
places
.recentf
cider-history
history
projectile-bookmarks.eld
projectile.cache
auto-save-list/*
backups/*
.emacs.desktop*
.mc-lists.el
.recentf~
.session
elpa
var
tramp
ac-comphist.dat
SessionDesktop.el
